STOCKAMA_DB_INSTANCE=localhost
STOCKAMA_DB_NAME=stockama
STOCKAMA_DB_USERNAME=stockama
STOCKAMA_DB_PASSWORD=stockama
STOCKAMA_DB_PORT=5243

STOCKAMA_JWT_TOKEN_KEY=002ca5a2-48b1-42e7-90fb-684729be2d0a2ae1f2de-b36b-407e-aa99-1fd636fb7101

STOCKAMA_REDIS_SERVICE_ENDPOINT=localhost
STOCKAMA_REDIS_SERVICE_PORT=6739
STOCKAMA_REDIS_SERVICE_PASSWORD=stockama


STOCKAMA_QUEUE_PROVIDER=rabbitmq
STOCKAMA_RABBITMQ_HOST=localhost
STOCKAMA_RABBITMQ_PORT=5762
STOCKAMA_RABBITMQ_USER=stockama
STOCKAMA_RABBITMQ_PASSWORD=stockama
STOCKAMA_RABBITMQ_VHOST=/

DEFAULT_SUPERADMIN_USERNAME=stockama
DEFAULT_SUPERADMIN_PASSWORD=stockama
DEFAULT_SUPERADMIN_EMAIL=stockama@stockama.com